.headerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid greenyellow; */
  width: 100%;
  height: 2.5em;
}
.logo {
  /* border: 1px solid black; */
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5em;
  color: black;
  font-family: Georgia;
  font-weight: bolder;
  /* font-size: large; */
}
.logo > h3 {
  padding: 0 10px;
  /* border : 1px solid black; */
}
.contents {
  display: flex;
  justify-content: flex-end;
  height: 100%;
  /* border: 1px solid black; */
  flex: 1;
}
.hLink, .hLink_btn {
  /* border: 2px solid red; */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0 15px;
  margin: 0 10px;
  background-color: rgba(245, 245, 245, 0.514);
  border-radius: 10px;
  color: black;
}
.hLink_btn{
  width: 5em;
}
.hLink:hover, .hLink_btn:hover {
  /* border: 1px solid #ccc; */
  background-color: wheat;
}
.hLink:active, .hLink_btn:active {
  box-shadow: 1px 1px 1px rgba(204, 204, 204, 0.8),
    -1px 1px 1px rgba(204, 204, 204, 0.8), 1px -1px 1px rgba(204, 204, 204, 0.8),
    -1px -1px 1px rgba(204, 204, 204, 0.8);
}



.username{
  padding: 0 15px;
  cursor: pointer;
}
.username:hover{
background-color: rgba(135, 207, 235, 0.74);
}